{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        #graphForm {
            margin-left: 30px;
        }
    </style>
{% endblock %}
{% block content %}
<h3 style="text-align: center;">Your Facebook Information</h3>
<form id="graphForm" action="app.php" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <label for="fb_id" class="col-sm-2 control-label">Facebook ID:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="fb_id" id="fb_id" value="{{id}}" >
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="name" id="name" value="{{name}}" >
        </div>
    </div>

    <div class="form-group">
        <label for="gender" class="col-sm-2 control-label">Gender:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="gender" id="gender" value=
                    "{% if gender is defined and gender is not empty %}{{gender}}{% endif %}" >
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">User Name:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="username" id="username" value="{{username}}" >
        </div>
    </div>

    <div class="form-group">
        <label for="friend_count" class="col-sm-2 control-label">Number of Friend:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="friend_count" id="friend_count" value=
                    "{% if friend_count is defined and friend_count is not empty %}{{friend_count}}{% endif %}" >
        </div>
    </div>

    <div class="form-group">
        <label for="fb_link" class="col-sm-2 control-label">Facebook Link:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="fb_link" id="fb_link"  value="{{link}}" >
            <input type="hidden" name="meta" id="meta"  value="{{meta}}"/>
        </div>
    </div>

    <div class="form-group">
        <label  class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary" name="submit" value="submit"/>
        </div>
    </div>

    <input type="hidden" name="pagename" value="add"/>

</form>


{% endblock %}